/*Fonts
Montserrat 400 regular, 600 semi-bold, 700 bold*/

/*Colors
#4fccc6 light turquoise
#378786 dark teal
#ffc200 yellow
#ff8500 orange*/

*{
	margin:0;
	padding:0;
	font-family:'Montserrat', sans-serif;
	box-sizing: border-box;
	font-weight:400;
	text-decoration: none;
	transition:.3s ease;
	list-style: none;
	color:#378786 /*dark teal*/;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0 auto;
}

.logo {
	width:170px;
	margin-left:70px;
	padding-top:25px;
}


header {
	width:100%;
	background:#fff;
	box-shadow:0px 0px 20px 1px #000;
	height:175px;
	position: fixed;
	top:0;
	text-transform: lowercase;
	text-align:center;
	z-index: 9;
}

header > * {
	float: left;
    height: 100%;
    position: relative;

}


nav > * {
	float:left;
}

nav {
	padding-top:80px;
	margin-left:360px;
}

nav a {
	font-size:20px;
	margin:30px;
}

.dd {
	background:#378786 /*dark teal*/;
	position:absolute;
	display:none;
}

.dd a {
	color:#fff;
	margin:0;
}

li:hover .dd  {
	display:block;
}

.dd li {
	border-bottom:2px solid #fff;
	padding:10px;
	clear:both;
}

.dd li:hover {
	background:#4fccc6 /*light turquoise*/;
}

.headerIcons {
	padding-top:50px;
	float:right;
	padding-right:70px;
}

.headerIcons a {
	font-size:16px;
}

.headerIcons > * {
	float:left;
}

.iconMissions {
	position: relative;
	top:5px;
	margin-right:70px;
}


footer {
	background:#fff;
	height:130px;
	width:100%;
	position:absolute;
	box-shadow:0px 0px 20px 1px #378786 /*dark teal*/;
	bottom:0;
}

.iconStar {
	position:relative;
	width:100px;
	margin-left:60px;
	padding-top:25px;
}

footer p {
	font-size:16px;
	position:relative;
	padding-left:20px;
	text-align:left;
	line-height:1.4em;
}

.footerCopyright > * {
	float:left;
}

.copyrightText {
	margin-top:50px;
}

footer #socialNav {
	position:absolute;
	top:45px;
	right:60px;
}

footer #socialNav .fab{
	font-size:35px;
	margin-left:50px;
}

footer #socialNav .fab:hover {
	transform: scale(1.2);
}


.btn-primary {
	color:#fff;
	background:#ff8500 /*orange*/;
	padding:10px 40px;
	font-weight:600;
	border-radius:3px;
	font-size:16px;
}

.btn-primary:hover {
	background:#4fccc6 /*light turquoise*/;
}

.btn-primary-reverse {
	color:#ff8500 /*orange*/;
	border:2px solid #ff8500 /*orange*/;
	background:#fff;
	padding:10px 20px;
	font-weight:600;
	border-radius:3px;
	font-size:16px;
}

.btn-primary:hover {
	background:#4fccc6 /*light turquoise*/;
}

.btn-secondary {
	border:none;
	font-size:20px;
	padding: 10px 40px;
	border:2px solid #378786 /*dark teal*/;
	background:#fff;
	margin-bottom:20px;
	font-weight:600;
	border-radius:3px;
	cursor: pointer;
	height:50px;
}

.btn-secondary:hover, .btn-primary-reverse:hover {
	background:#378786 /*dark teal*/;
	color:#fff;
	border:none;
}



/*-- Start of Home --*/

#home {
	height: 1100px;
}

.homeHero {
	background-image:url("../images/homeHero.png");
	width:100%;
	height:700px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-top: 70px;
}

.heroTextContainer {
	width:500px;
	max-width: 100%;
	height:260px;
	position: absolute;
	top: 0;
	bottom:0;
	margin:auto;
	left:100px;
}

.heroTextContainer p{
	color:#fff;
	font-size:25px;
	font-weight:600;

}

p.heroHeading {
	font-size:80px;
	font-weight:700;
}

p.heroText{
	margin-bottom:50px;
}

.heroTextContainer a{
	color:#fff;
	background:#ff8500 /*orange*/;
	padding:20px 40px;
	font-weight:700;
	margin-top:40px;
	border-radius:3px;
	font-size:20px;
}

.heroTextContainer a:hover {
	background:#4fccc6 /*light turquoise*/;
}

p.introHeading {
	font-size:70px;
	font-weight:700;
	text-align: center;
	margin-top:90px;
	margin-bottom: 90px;
}

/*-- End of Home --*/


/*-- Start of Small Hero --*/

#smallHero {
	margin-top: 170px;
	height: 250px;
	position: relative;
}
#smallHero img {
	width: 100%;
}

#smallHero h2 {
	font-size: 42pt;
	position: absolute;
	top: 75px;
	left: 70px;
	color: #fff;
}


/*-- End of Small Hero --*/


/*-- Start of About --*/

.aboutPar {
	width:900px;
	max-width: 100%;
	text-align:left;
	margin:auto;
	margin-top:50px;
	padding-bottom:250px;
}

.aboutPar p {
	font-size:25px;
	line-height: 1.5em;
	font-weight: 600;
}

@media only screen and (max-width: 1000px){
	.aboutPar {
		width:70%;
	}
}

@media only screen and (max-width: 600px){
	.aboutPar p {
		font-size:18px;
	}
}

/*-- End of About --*/


/*-- Start of Contact --*/
.contactForm {
	border:2px solid #378786 /*dark teal*/;
	width:400px;
	padding:30px;
	border-radius:3px;
	margin:auto;
}

.contactForm input[type='text'] {
	width:100%;
	margin-bottom:30px;
	max-width:100%;
	border:none;
	padding:10px;
	border-bottom:2px solid #378786 /*dark teal*/;
}

.contactForm label{
	font-size:20px;
	display:block;
	margin-top:20px;
	font-weight:600;
}


.contactForm textarea {
	width:100%;
	height:120px;
	resize:none;
	padding:10px;
	margin-bottom:30px;
	margin-top:20px;
	max-width:100%;
	border:2px solid #378786 /*dark teal*/;

}

.contactForm .completeBtn {
	border:none;
	font-size:20px;
	padding: 10px 40px;
	border:2px solid #378786 /*dark teal*/;
	background:#fff;
	margin-bottom:20px;
	font-weight:600;
	border-radius:3px;
	cursor: pointer;
}

.contactForm .completeBtn:hover {
	background:#378786 /*dark teal*/;
	color:#fff;
}

.contactInfo {
	padding-left:100px;
}

.contactInfo h1 {
	font-size:40px;
	color:#ff8500 /*orange*/;
	font-weight:700;
	margin-bottom:20px;
}

.contactInfo p{
	font-size:20px;
	line-height: 1.3em;
	font-weight:600;
}

.contact{
	float: left;
}

.contactContainer {
	height:900px;
	width:800px;
	max-width: 100%;
	margin:auto;
	margin-top: 30px;
}


/*-- End of Contact --*/


/*-- Start of Login --*/


.loginForm, .signUpForm {
	border:2px solid #378786; /*dark teal*/
	width:400px;
	padding:30px;
	border-radius:3px;
	margin:auto;
}

.loginForm {
	border:2px solid #ff8500; /*orange*/
}

.loginForm input[type='text'], .signUpForm input[type='text'] {
	width:100%;
	margin-bottom:30px;
	max-width:100%;
	border:none;
	padding:10px;
	border-bottom:2px solid #378786 /*dark teal*/;
}

.loginForm input[type='text'] {
	border-bottom:2px solid #ff8500; /*orange*/
}

.loginForm label, .signUpForm label {
	font-size:20px;
	display:block;
	margin-top:20px;
	font-weight:600;
}

.loginForm label {
	color: #ff8500; /*orange*/
}

.signUpForm .completeBtn {
	border:none;
	font-size:20px;
	padding: 10px 40px;
	border:2px solid #378786 /*dark teal*/;
	background:#fff;
	margin-bottom:20px;
	font-weight:600;
	border-radius:3px;
	cursor: pointer;
}

.loginForm .completeBtn {
	border:none;
	font-size:20px;
	padding: 10px 40px;
	background:#fff;
	margin-bottom:20px;
	font-weight:600;
	border-radius:3px;
	cursor: pointer;
	border: 2px solid #ff8500; /*orange*/
	background: #ff8500; /*orange*/
	color: #fff;
}

.loginForm .completeBtn:hover {
	background: #fff;
	color: #ff8500; /*orange*/
	border:2px solid #ff8500; /*orange*/
}

.signUpForm .completeBtn:hover {
	background:#378786 /*dark teal*/;
	color:#fff;
}

.loginContainer {
	height:750px;
	width: 1200px;
	max-width: 100%;
	margin: auto;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.loginContainer h3 {
	font-size: 24pt;
	font-weight: 700;
	margin-left: 100px;
	margin-bottom: 10px;
}

.loginContainer .login h3 {
	color: #ff8500; /*orange*/
}

/*-- End of Login --*/


/*-- Start of Profile --*/

#profile {
	margin: 0 auto;
	margin-top: 30px;
	height: 400px;
	width: 600px;
	max-width: 100%;
}

.profile-pic {
	background: url("../assets/iconProfile.png");
	border: 5px solid #ff8500; /*orange*/
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 200px;
	float: left;
	display: inline-block;
}

.profile-info {
	float: left;
	display: inline-block;
	margin-left: 40px;
}

#profile h2 {
	font-size: 34pt;
	font-weight: 700;
	color: #378786 /*dark teal*/;
	margin-bottom: 10px;
}

#profile p {
	line-height: 25px;
	color: #000;
	font-size: 14pt;
}

#profile .label {
	font-weight: 700;
	color: #ff8500; /*orange*/
}

.profilePrimaryBtn {
	color: #fff;
	background: #ff8500; /*orange*/
	border: 2px solid #ff8500; /*orange*/
	padding:10px 15px;
	font-weight: 700;
	margin-top: 40px;
	border-radius: 3px;
	font-size: 11pt;
}

.profilePrimaryBtn:hover {
	color: #ff8500; /*orange*/
	background: #fff;
}

.profileSecondaryBtn {
	color: #378786; /*dark teal*/
	background: #fff;
	border: 2px solid #378786; /*dark teal*/
	padding: 10px 15px;
	font-weight: 700;
	margin-top: 40px;
	border-radius: 3px;
	font-size: 11pt;
}

.profileSecondaryBtn:hover {
	background: #378786; /*dark teal*/
	color: #fff;
} 

.fa-edit:hover {
	color: #fff;
}

.profile-info div:first-child {
	margin-bottom: 30px;
}


/*-- End of Profile --*/



/*-- Start of Hospitals --*/
.hospitalsContainer {
	width:780px;
	max-width: 100%;
	margin:auto;
	margin-top:50px;
	padding-bottom:550px;
}

.hospitalsThumb {
	border:2px solid #ff8500 /*orange*/;
	border-radius: 3px;
	padding:40px;
	float:left;
	width:340px;
	margin:20px;
}

.hospitalsThumb img {
	width:200px;
	margin-bottom:10px;
}

.hospitalsThumb p {
	color:#000;
	font-size:16px;
	font-weight:600;
	line-height:1.3em;
}

p.location {
	margin-bottom:30px;
}


/*-- End of Hospitals --*/





/*-- Start of Hospital --*/
.hospitalsProfileContainer {
	width:900px;
	max-width: 100%;
	margin:auto;
	margin-top:50px;
	margin-bottom:300px;
	overflow: hidden;
	position: relative;
}

.hospitalsProfile {
	float:left;
	width:50%;
}

.hospitalsProfileContainer h1 {
	font-size:40px;
	color:#ff8500 /*orange*/;
	font-weight:700;
	margin-bottom:20px;
}

.hospitalsProfile img{
	width:400px;
}

.hospitalsProfile p {
	color:#000;
	font-size:16px;
	font-weight:600;
	line-height: 1.5em;
}

.wishesContainer {
	width:900px;
	max-width: 100%;
	position: relative;
	margin:auto;
}

.wishesContainer h1{
	font-size:40px;
	color:#ff8500 /*orange*/;
	font-weight:700;
	margin-bottom:20px;
}

.wish p{
	color:#000;
	font-size:18px;
	font-weight:600;
	margin-bottom: 60px;
}


.wish-btns{
	float:right;
	margin-top:-80px;
}

.fulfill {
	margin-right:15px;
}


/*-- End of Hospital --*/





/*-- Start of Missions --*/

#missions {
	padding-bottom: 300px;
}

#missions h3 {
	font-size: 24pt;
	font-weight: 700;
	color: #ff8500; /*orange*/
}

.missions-heading {
	margin: 0 auto;
	width: 1100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 170px;
}

.wish-item {
	margin: 0 auto;
	margin-top: 30px;
	width: 1250px;
	display: grid;
	grid-template-columns: 4fr 2fr 1fr;
	grid-column-gap: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgray;
}

.wish-item > div > a {
	float: left;
	margin-right: 10px;
}

.fa-minus-circle {
	color: red;
}

.fa-minus-circle:hover {
	color: #000;
}

.wish-item p {
	color: #000;
}

.fulfillBtn {
	color: #fff;
	background: #ff8500; /*orange*/
	border: 2px solid #ff8500; /*orange*/
	padding: 5px 15px;
	width: 75px;
	font-weight: 700;
	border-radius: 3px;
	font-size: 10pt;
	margin-top: -7px;
}

.fulfillBtn:hover {
	color: #ff8500; /*orange*/
	background: #fff;
}

/*-- End of Missions --*/


/*--Start of Booking--*/

#booking {
	margin: 0 auto;
	width: 878px;
	height: 1000px;
}

#booking h2 {
	font-size: 30pt;
	font-weight: 700;
	color: #ff8500; /*orange*/
	margin-bottom: 5px;
}
 
.subheading {
	color: #000;
}

#bookingForm {
	margin-top: 40px;
	height: 650px;
	border: 1px solid #378786; /*dark teal*/
}

#bookingForm img {
	float: left;
	display: inline-block;
	height: 100%;
}

.bForm {
	float: left;
	display: inline-block;
}

.selectedWish {
	width: 440px;
	padding: 30px;
	background: #378786; /*dark teal*/
}

.selectedWish p {
	color: #fff;
	margin-left: 120px;
	line-height: 40px;
}

.selectedWish .book-wish-label {
	font-weight: 700;
	font-size: 16pt;
	margin-left: 50px;
}

.bookDate {
	padding: 30px;
	margin-left: 50px;
}

.bookDate > div {
	margin-bottom: 20px;
}

.bookDate label {
	font-weight: 700;
	font-size: 16pt;
}

.bookDate input, .bookDate select {
	border: none;
	font-size: 12pt;
	text-align: center;
	width: 200px;
	padding: 5px;
	border-bottom: 1px solid #378786; /*dark teal*/
}

.bookDate textarea {
	display: block;
	margin-bottom: 30px;
	margin-top: 10px;
	width: 270px;
	height: 150px;
}


/*--End of Booking--*/

/*--Start of Thank You--*/

#thankyou {
	margin: 0 auto;
	margin-top: 50px;
	width: 600px;
	height: 400px;
	text-align: center;
}

#thankyou h2 {
	font-size: 30pt;
	font-weight: 700;
	color: #ff8500; /*orange*/
	margin-bottom: 15px;
}

#thankyou p {
	color: #000;
}

/*--End of Thank You--*/
