/*Fonts
Montserrat 400 regular, 600 semi-bold, 700 bold*/

/*Colors
#4fccc6 light turquoise
#378786 dark teal
#ffc200 yellow
#ff8500 orange*/

* {
	margin:0;
	padding:0;
	font-family:'Montserrat', sans-serif;
	box-sizing: border-box;
	font-weight:400;
	text-decoration: none;
	transition:.3s ease;
	list-style: none;
	color:#378786 /*dark teal*/;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0 auto;
}

body {
	padding-bottom: 150px
}

.logo {
	width:170px;
	margin-left:70px;
	padding-top:25px;
}

header {
	width:100%;
	background:#fff;
	box-shadow:0px 0px 20px 1px #000;
	height:175px;
	position: fixed;
	top:0;
	text-transform: lowercase;
	text-align:center;
	z-index: 9;
}

header > * {
	float: left;
    height: 100%;
    position: relative;
}

nav > * {
	float:left;
}

nav li {
	display: inline-block;
}

nav {
	padding-top:80px;
	float:none;
	display: inline-block;
} 

nav a {
	font-size:20px;
	margin:10px;
}

.headerIcons {
	padding-top:50px;
	float:right;
	padding-right:70px;
}

.headerIcons a {
	font-size:16px;
}

.headerIcons > * {
	float:left;
}

.iconMissions {
	position: relative;
	top:5px;
	margin-right:70px;
}

footer {
	background: #fff;
	width: 100%;
	position: absolute;
	box-shadow: 0px 0px 20px 1px #378786 /*dark teal*/;
	bottom: 0;
	height: 130px;
}

.iconStar {
	position:relative;
	width:100px;
	margin-left:60px;
	padding-top:25px;
}

footer p {
	font-size:16px;
	position:relative;
	padding-left:20px;
	text-align:left;
	line-height:1.4em;
}

.footerCopyright > * {
	float:left;
}

.copyrightText {
	margin-top:50px;
}

footer #socialNav {
	position:absolute;
	top:45px;
	right:60px;
}

footer #socialNav .fab{
	font-size:35px;
	margin-left:50px;
}

footer #socialNav .fab:hover {
	transform: scale(1.2);
}


.btn-primary {
	color:#fff;
	background:#ff8500 /*orange*/;
	padding:10px 40px;
	font-weight:600;
	border-radius:3px;
	font-size:16px;
}

.btn-primary-reverse {
	color:#ff8500 /*orange*/;
	border:2px solid #ff8500 /*orange*/;
	background:#fff;
	padding:10px 20px;
	font-weight:600;
	border-radius:3px;
	font-size:16px;
}

.btn-primary:hover {
	background:#fff;
	color:#ff8500 /*orange*/;
	border:2px solid #ff8500 /*orange*/;
}

.btn-secondary {
	border:none;
	font-size:20px;
	padding: 10px 40px;
	border:2px solid #378786; /*dark teal*/
	background:#fff;
	margin-bottom:20px;
	font-weight:600;
	border-radius:3px;
	cursor: pointer;
	height:50px;
}

.btn-secondary:hover, .btn-primary-reverse:hover, .homeIntroBtn:hover {
	color:#fff;
	background: #378786; /*dark teal*/
}

@media only screen and (max-width:930px){
	header {
		height:100px;
	}

	.logo{
		width:100px;
		margin-left:20px;
		padding-top:15px;
	}

	nav {
		padding-top:45px;
		float:none;
		display: inline-block;
	}

	nav a {
		font-size:16px;
	}

	.headerIcons {
		padding-top:20px;
		padding-right:20px;
	}

	.headerIcons a {
		font-size:14px;
	}

	.headerIcons img {
		width:25px;
	}

	.iconMissions {
		margin-right:30px;
	}

	.iconProfile {
		position: relative;
		top:5px;
	}

	.iconStar {
		width:50px;
		margin-left:20px;
		padding-top:20px;
	}

	footer p {
		font-size:12px;
		padding-left:20px;
	}

	.copyrightText {
		margin-top:0px;
	}

	.footerCopyright > * {
		float:none;
	}

	footer #socialNav {
		position:absolute;
		top:20px;
		right:20px;
	}

	footer #socialNav .fab{
		font-size:25px;
		margin-left:20px;
	}
}

@media only screen and (max-width:630px){
	.logo{
		width:60px;
		margin-left:20px;
		padding-top:30px;
	}

	nav {
		padding-top:45px;
	}

	nav a {
		font-size:12px;
		margin:5px;
	}

	.headerIcons a {
		font-size:12px;
	}

	.headerIcons > * {
		float:none;
	}

	.headerIcons img {
		width:15px;
	}

	.iconMissions {
		margin-right:0px;
	}

	.iconMissionsImg {
		position: relative;
		top:5px;
	}

	.iconProfileImg {
		margin-top:5px;
		top:5px;
		position: relative;
	}

	.headerIcons {
		padding-top:8px;
	}

}

/*-- Start of Home --*/

/*#home {
	height: 1100px;
}*/

.homeHero {
	background-image:url("../images/homeHero.png");
	width:100%;
	height:700px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-top: 70px;
}

.heroTextContainer {
	width:500px;
	max-width: 100%;
	height:260px;
	position: absolute;
	top: 0;
	bottom:0;
	margin:auto;
	left:100px;
}

.homeHero h2 {
	font-size:80px;
	color:#fff;
	font-weight:700;
}

.heroTextContainer p{
	color:#fff;
	font-size:25px;
	font-weight:600;
}

p.heroText{
	margin-bottom:50px;
}

.heroTextContainer a{
	color:#fff;
	background:#ff8500 /*orange*/;
	padding:20px 40px;
	font-weight:700;
	border-radius:3px;
	font-size:20px;
}

.heroTextContainer a:hover {
	background:#4fccc6 /*light turquoise*/;
}

p.introHeading {
	font-size:70px;
	font-weight:700;
	text-align: center;
	margin-top:90px;
	margin-bottom: 90px;
}

#homeIntro {
	width:800px;
	height:600px;
	margin:auto;
	max-width: 100%;
	margin-bottom:50px;
}

#homeIntro .intro {
	float:left;
	width:50%;
}

#homeIntro .intro img {
	max-width: 100%;
	height: 300px;
	display: block;
}

.introBg {
	background:#378786 /*dark teal*/;
	width:400px;
	height: 300px;
	max-width: 100%;
	padding:60px;
}

.introBg p{
	color:#fff;
	font-size:18px;
	line-height:1.5em;
	margin-bottom:30px;
	margin-top:-20px;
}

.homeIntroBtn {
	border:2px solid #fff;
	background: none;
}




@media only screen and (max-width:930px){
	.homeHero {
		height:500px;
		margin-top: 50px;
	}

	.heroTextContainer {
		width:300px;
		height:200px;
		left:50px;
	}

	.homeHero h2 {
		font-size:40px;
		margin-bottom:10px;
	}

	.heroTextContainer p{
		font-size:18px;
	}

	p.heroText{
		margin-bottom:30px;
	}

	.heroTextContainer a{
		padding:10px 30px;
		font-size:16px;
	}

	p.introHeading {
		font-size:40px;
	}

	#homeIntro {
		width:100%;
		height:100%;
		margin:auto;
		display: block;
		max-width: 100%;
		margin-bottom:50px;
	}

	.introBg {
		width:400px;
		height: 100%;
		margin:auto;
		display: block;
	}

	#homeIntro .intro {
		float:none;
		width:100%;
		margin-bottom:40px;
	}

	#homeIntro .intro img {
		max-width: 100%;
		min-height: 100%;
		margin:auto;
		display: block;
		width:400px;
	}
}

@media only screen and (max-width:600px){
	.homeHero {
		height:300px;
	}

	.heroTextContainer {
		width:300px;
		height:160px;
		left:0;
		right:0;
		top:0;
		bottom:0;
		margin:auto;
	}

	.homeHero h2 {
		font-size:30px;
		margin-bottom:10px;
	}

	.heroTextContainer p{
		font-size:16px;
	}


	.heroTextContainer a{
		padding:10px 30px;
		font-size:14px;
	}

	p.introHeading {
		font-size:20px;
	}
}
/*-- End of Home --*/



/*-- Start of Small Hero --*/

#smallHero {
	margin-top: 170px;
	height:100%;
	position: relative;
}

#smallHero img {
	width: 100%;
	height: 200px;
}

#smallHero h2 {
	font-size: 42pt;
	position: absolute;
	top: 75px;
	left: 70px;
	color: #fff;
}

@media only screen and (max-width:930px){
	#smallHero {
		margin-top:100px;
	}

	#smallHero img {
		height: 150px;
	}

	#smallHero h2 {
		font-size:30pt;
		top:40px;
	}
}

@media only screen and (max-width:800px){
	#smallHero img {
		height: 90px;
	}

	#smallHero h2 {
		font-size:20pt;
		top:30px;
		left:30px;
	}
}


/*-- End of Small Hero --*/


/*-- Start of About --*/

.aboutPar {
	width:900px;
	max-width: 100%;
	text-align:left;
	margin:auto;
	margin-top:50px;
	padding-bottom:50px;
}

.aboutPar p {
	font-size:25px;
	line-height: 1.5em;
	font-weight: 600;
}

@media only screen and (max-width: 1000px){
	.aboutPar {
		width:70%;

	}
}

@media only screen and (max-width: 600px){
	.aboutPar p {
		font-size:18px;
	}
}

/*-- End of About --*/




/*-- Start of Contact --*/
.contactForm {
	border:2px solid #378786 /*dark teal*/;
	width:400px;
	max-width: 100%;
	padding:30px;
	border-radius:3px;
	margin:auto;
}

.contactForm input[type='text'] {
	width:100%;
	margin-bottom:30px;
	max-width:100%;
	border:none;
	padding:10px;
	border-bottom:2px solid #378786 /*dark teal*/;
}

.contactForm label{
	font-size:20px;
	display:block;
	margin-top:20px;
	font-weight:600;
}


.contactForm textarea {
	width:100%;
	height:120px;
	resize:none;
	padding:10px;
	margin-bottom:30px;
	margin-top:20px;
	max-width:100%;
	border:2px solid #378786 /*dark teal*/;

}

.contactForm .completeBtn {
	border:none;
	font-size:20px;
	padding: 10px 40px;
	border:2px solid #378786 /*dark teal*/;
	background:#fff;
	margin-bottom:20px;
	font-weight:600;
	border-radius:3px;
	cursor: pointer;
}

.contactForm .completeBtn:hover {
	background:#378786 /*dark teal*/;
	color:#fff;
}

.contactInfo {
	padding-left:100px;
}

.contactInfo h1 {
	font-size:40px;
	color:#ff8500 /*orange*/;
	font-weight:700;
	margin-bottom:20px;
}

.contactInfo p{
	font-size:20px;
	line-height: 1.3em;
	font-weight:600;
}

.contact{
	float: left;
}

.contactContainer {
	height:700px;
	width:800px;
	max-width: 100%;
	margin:auto;
	margin-top: 30px;
	margin-bottom:50px;
}

@media only screen and (max-width:930px){
	.contact{
		float: none;
	}

	.contactInfo {
		padding-left:0px;
		width:100%;
		margin-top:50px;
	}

	.contactContainer {
		height:100%;
		width:100%;
	}
}

@media only screen and (max-width:600px){
	.contactContainer {
		width:80%;
	}
	
	.contactInfo h1 {
		font-size:30px;
		margin-bottom:20px;
	}

	.contactInfo p{
		font-size:16px;
	}

}

/*-- End of Contact --*/


/*-- Start of Login --*/


.loginForm, .signUpForm {
	border:2px solid #378786; /*dark teal*/
	width:400px;
	padding:30px;
	border-radius:3px;
	margin:auto;
}

.loginForm {
	border:2px solid #ff8500; /*orange*/
}

.loginForm input[type='text'], .signUpForm input[type='text'] {
	width:100%;
	margin-bottom:30px;
	max-width:100%;
	border:none;
	padding:10px;
	border-bottom:2px solid #378786 /*dark teal*/;
}

.loginForm input[type='text'] {
	border-bottom:2px solid #ff8500; /*orange*/
}

.loginForm label, .signUpForm label {
	font-size:20px;
	display:block;
	margin-top:20px;
	font-weight:600;
}

.loginForm label {
	color: #ff8500; /*orange*/
}

.signUpForm .completeBtn {
	border:none;
	font-size:20px;
	padding: 10px 40px;
	border:2px solid #378786 /*dark teal*/;
	background: #378786 /*dark teal*/;
	margin-bottom:20px;
	font-weight:600;
	border-radius:3px;
	cursor: pointer;
	color: #fff;
}

.loginForm .completeBtn {
	border:none;
	font-size:20px;
	padding: 10px 40px;
	background:#fff;
	margin-bottom:20px;
	font-weight:600;
	border-radius:3px;
	cursor: pointer;
	border: 2px solid #ff8500; /*orange*/
	background: #ff8500; /*orange*/
	color: #fff;
}

.loginForm .completeBtn:hover {
	background: #fff;
	color: #ff8500; /*orange*/
	border:2px solid #ff8500; /*orange*/
}

.signUpForm .completeBtn:hover {
	background: #fff;
	color: #378786 /*dark teal*/;
}

.loginContainer {
	height: 500px;
	width: 1200px;
	max-width: 100%;
	margin: auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.loginContainer h3 {
	font-size: 24pt;
	font-weight: 700;
	margin-left: 100px;
	margin-bottom: 10px;
}

.loginContainer .login h3 {
	color: #ff8500; /*orange*/
}

.signUp h3 {
	margin-left: 0px;
}

.signUp p {
	color: #000;
	width: 350px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 25px;
}

/*-- End of Login --*/




/*--Start of Sign Up--*/

.signUpContainer {
	height: 1050px;
	width: 1200px;
	max-width: 100%;
	margin: auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.signUpDetails h3 {
	font-size: 24pt;
	font-weight: 700;
	margin-left: 100px;
	margin-bottom: 10px;
}

.signUpForm {
	width: 600px;
	margin-left: 100px;
}



/*--End of Sign Up--*/




/*-- Start of Profile --*/

#profile {
	margin: 0 auto;
	margin-top: 30px;
	height: 400px;
	width: 600px;
	max-width: 100%;
}

.profile-pic {
	background: url("../assets/iconProfile.png");
	border: 5px solid #ff8500; /*orange*/
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 200px;
	float: left;
	display: inline-block;
}

.profile-info {
	float: left;
	display: inline-block;
	margin-left: 40px;
}

#profile h2 {
	font-size: 34pt;
	font-weight: 700;
	color: #378786 /*dark teal*/;
	margin-bottom: 10px;
}

#profile p {
	line-height: 25px;
	color: #000;
	font-size: 14pt;
}

#profile .label {
	font-weight: 700;
	color: #ff8500; /*orange*/
}

.profilePrimaryBtn {
	color: #fff;
	background: #ff8500; /*orange*/
	border: 2px solid #ff8500; /*orange*/
	padding:10px 15px;
	font-weight: 700;
	margin-top: 40px;
	border-radius: 3px;
	font-size: 11pt;
}

.profilePrimaryBtn:hover {
	color: #ff8500; /*orange*/
	background: #fff;
}

.profileSecondaryBtn {
	color: #378786; /*dark teal*/
	background: #fff;
	border: 2px solid #378786; /*dark teal*/
	padding: 10px 15px;
	font-weight: 700;
	margin-top: 40px;
	border-radius: 3px;
	font-size: 11pt;
}

.profileSecondaryBtn:hover {
	background: #378786; /*dark teal*/
	color: #fff;
} 

.fa-edit:hover {
	color: #fff;
}

.profile-info div:first-child {
	margin-bottom: 30px;
}


/*-- End of Profile --*/



/*-- Start of Hospitals --*/
.hospitalsContainer {
	width:780px;
	max-width: 100%;
	margin:auto;
	margin-top:50px;
	padding-bottom:400px;
}

.hospitalsThumb {
	border:2px solid #ff8500 /*orange*/;
	border-radius: 3px;
	padding:40px;
	float:left;
	width:340px;
	max-width: 100%;
	margin:20px;
}

.hospitalsThumb img {
	width:200px;
	margin-bottom:10px;
}

.hospitalsThumb p {
	color:#000;
	font-size:16px;
	font-weight:600;
	line-height:1.3em;
}

p.location {
	margin-bottom:30px;
}

@media only screen and (max-width:930px){
	.hospitalsContainer {
		width:100%;
		padding-bottom:0px;
	}

	.hospitalsThumb {
		float:none;
		margin:0;
		margin:auto;
		margin-bottom:50px;
	}
}

/*-- End of Hospitals --*/





/*-- Start of Hospital --*/
.hospitalsProfileContainer {
	width:900px;
	max-width: 100%;
	margin:auto;
	margin-top:50px;
	margin-bottom:80px;
	overflow: hidden;
	position: relative;
}

.hospitalsProfile {
	float:left;
	width:50%;
}

.hospitalsProfile img{
	width:400px;
	max-width: 100%
}

.hospitalsProfile p {
	color:#000;
	font-size:16px;
	font-weight:600;
	line-height: 1.5em;
}

.wishesContainer {
	width:900px;
	max-width: 100%;
	position: relative;
	margin:auto;
}

.wishesContainer .wish {
	height:100px;
}

.wishesContainer h1{
	font-size:40px;
	color:#ff8500 /*orange*/;
	font-weight:700;
	margin-bottom:20px;
}

.wishesContainer .wish p{
	color:#000;
	font-size:18px;
	font-weight:600;
}


.wishesContainer .wish-btns{
	float:right;
	margin-top:-80px;
}

.wishesContainer .fulfill {
	margin-right:15px;
}

@media only screen and (max-width:930px){
	.wishesContainer {
		width:100%;
	}

	.hospitalsProfile {
		float:none;
		width:100%;
	}

	.hospitalsProfile img{
		margin:auto;
		display: block;
		margin-bottom:30px;
	}

	.hospitalsProfile p {
		width:400px;
		max-width: 100%;
		margin:auto;
	}

	.wishesContainer {
		width:80%;
	}

	.wishesContainer .wish {
		height:50px;
	}

	.wishesContainer .wish p{
		margin-bottom: 10px;
	}

	.wishesContainer .wish-btns{
		float:none;
		margin-top:0px;
		margin-bottom: 50px;
		border-bottom:1px solid lightgrey;
	}

}

@media only screen and (max-width:600px){
	.hospitalsProfileContainer {
		width:80%;
	}

	.hospitalsProfile p {
		font-size:14px;
		width:100%;
	}
}


/*-- End of Hospital --*/





/*-- Start of Missions --*/

#missions {
	padding-bottom: 300px;
}

#missions h3 {
	font-size: 24pt;
	font-weight: 700;
	color: #ff8500; /*orange*/
}

.missions-heading {
	margin: 0 auto;
	width: 1100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 170px;
}

.wish-item {
	margin: 0 auto;
	margin-top: 30px;
	width: 1250px;
	display: grid;
	grid-template-columns: 4fr 2fr 1fr;
	grid-column-gap: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgray;
}

.wish-item > div > a {
	float: left;
	margin-right: 10px;
}

.fa-minus-circle {
	color: red;
}

.fa-minus-circle:hover {
	color: #000;
}

.wish-item p {
	color: #000;
}

.fulfillBtn {
	color: #fff;
	background: #ff8500; /*orange*/
	border: 2px solid #ff8500; /*orange*/
	padding: 5px 15px;
	width: 75px;
	font-weight: 700;
	border-radius: 3px;
	font-size: 10pt;
	margin-top: -7px;
}

.fulfillBtn:hover {
	color: #ff8500; /*orange*/
	background: #fff;
}

/*-- End of Missions --*/


/*--Start of Booking--*/

#booking {
	margin: 0 auto;
	width: 878px;
	height: 1000px;
}

#booking h2 {
	font-size: 30pt;
	font-weight: 700;
	color: #ff8500; /*orange*/
	margin-bottom: 5px;
}
 
.subheading {
	color: #000;
}

#bookingForm {
	margin-top: 40px;
	height: 650px;
	border: 1px solid #378786; /*dark teal*/
}

#bookingForm img {
	float: left;
	display: inline-block;
	height: 100%;
}

.bForm {
	float: left;
	display: inline-block;
}

.selectedWish {
	width: 440px;
	padding: 30px;
	background: #378786; /*dark teal*/
}

.selectedWish p {
	color: #fff;
	margin-left: 120px;
	line-height: 40px;
}

.selectedWish .book-wish-label {
	font-weight: 700;
	font-size: 16pt;
	margin-left: 50px;
}

.bookDate {
	padding: 30px;
	margin-left: 50px;
}

.bookDate > div {
	margin-bottom: 20px;
}

.bookDate label {
	font-weight: 700;
	font-size: 16pt;
}

.bookDate input, .bookDate select {
	border: none;
	font-size: 12pt;
	text-align: center;
	width: 200px;
	padding: 5px;
	border-bottom: 1px solid #378786; /*dark teal*/
}

.bookDate textarea {
	display: block;
	margin-bottom: 30px;
	margin-top: 10px;
	width: 270px;
	height: 150px;
}


/*--End of Booking--*/

/*--Start of Thank You--*/

#thankyou {
	margin: 0 auto;
	margin-top: 50px;
	width: 600px;
	height: 400px;
	text-align: center;
}

#thankyou h2 {
	font-size: 30pt;
	font-weight: 700;
	color: #ff8500; /*orange*/
	margin-bottom: 15px;
}

#thankyou p {
	color: #000;
}

/*--End of Thank You--*/
