<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
	<div class="aboutPar">
		<p>At Wish League, we believe in making every child's wish come true. We bridge the gap by providing an online platform with participating hospitals seeking help in completing special requests from their young patients. The primary objective is to facilitate a connection with philanthropists and hospital representatives so that they can work together in making a child's wish become a reality.</p>
	</div><!--aboutPar-->
</body>
</html>

