<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<footer>
	<div class="footerCopyright">
		<img src="../images/iconStar.png" alt="iconStar" class="iconStar">

		<div class="copyrightText">
			<p>Copyright &copy; Wish League 2019</p>
			<p>All Rights Reserved</p>
		</div><!--copyrightText-->
	</div><!--footerCopyright-->

	<div id="socialNav">
		<a href="https://www.facebook.com">
			<span class="fab fa-facebook-f"></span>
		</a>

		<a href="https://www.twitter.com">
			<span class="fab fa-twitter"></span>
		</a>

		<a href="https://www.instagram.com">
			<span class="fab fa-instagram"></span>
		</a>
	</div><!--socialNav-->		
</footer><!--footer-->
</body>
</html>
