<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
	<div class="homeHero">
		<div class="heroTextContainer">
			<p class="heroHeading">Be a HERO.</p>
			<p class="heroText">Help us grant these children's wishes and put a smile on their faces.</p>

			<a href="">Start Your Mission</a>
		</div><!--heroTextContainer-->
	</div><!--homeHero-->

	<p class="introHeading">"Every child is special."</p>
</body>
</html>

